extends ../../layout/layoutDefault

block content
    .row.display-flex.justify-content-center
        .col-9
            h1.mt-3.mb-3 Products
            .client-content
                .row
                    each item in products
                        .col-4.mb-3
                            .card.product-item(style='height: 100%;')
                                .card-header
                                    img(src=item.thumbnail, alt=item.title style='width: 100%; aspect-ratio: 1/1; object-fit: contain;')
                                .card-body
                                    a(href=`/products/detail/${item.slug}` style='text-decoration: none; color: black;')
                                        h2 #{item.title}
                                    h4 #{item.price}$